# 10-javascript-advanced
10-javascript-advanced/01-sample-parcel-js/dist
10-javascript-advanced/01-sample-parcel-js/node_modules

10-javascript-advanced/02-memory-card-games/dist
10-javascript-advanced/02-memory-card-games/node_modules

# 12-nodejs
12-nodejs/nodejs-express/node_modules
12-nodejs/nodejs-express/.env
12-nodejs/nodejs-express/database.json
12-nodejs/nodejs-express/package-lock.json
12-nodejs/nodejs-express/public/storage
