# 10-javascript-advanced
10-javascript-advanced/01-sample-parcel-js/dist
10-javascript-advanced/01-sample-parcel-js/node_modules

10-javascript-advanced/02-memory-card-games/dist
10-javascript-advanced/02-memory-card-games/node_modules

# 12-nodejs
## 12-1-2-creating-web-server/03-routing/node_modules
12-nodejs/12-2-creating-web-server/05-nodemon/node_modules
12-nodejs/12-4-express/12-4-1-routing/node_modules
12-nodejs/12-4-express/12-4-1-routing/node_modules
12-nodejs/12-4-express/12-4-2-middleware/00-built-in-middleware/node_modules
12-nodejs/12-4-express/12-4-2-middleware/01-chaining-middleware/node_modules
12-nodejs/12-4-express/12-4-2-middleware/02-error-handling/node_modules
12-nodejs/12-4-express/12-4-3-environment/node_modules
12-nodejs/12-5-building-REST/node_modules
12-nodejs/12-6-authentication/node_modules
12-nodejs/12-7-mailing/node_modules
12-nodejs/12-7-mailing/.env
12-nodejs/12-8-static-file-and-base64/12-8-3-static-file/node_modules
12-nodejs/12-8-static-file-and-base64/12-8-4-base64/node_modules
12-nodejs/12-9-final-project/node_modules
12-nodejs/12-9-final-project/public/storage
12-nodejs/12-9-final-project/.env
