# 10-javascript-advanced
10-javascript-advanced/01-sample-parcel-js/dist
10-javascript-advanced/01-sample-parcel-js/node_modules

10-javascript-advanced/02-memory-card-games/dist
10-javascript-advanced/02-memory-card-games/node_modules

# 12-nodejs
## 12-1-2-creating-web-server/03-routing/node_modules
12-nodejs/12-2-creating-web-server/05-nodemon/node_modules
12-nodejs/12-4-express/12-4-1-routing/node_modules
12-nodejs/12-4-express/12-4-1-routing/node_modules
12-nodejs/12-4-express/12-4-2-middleware/00-built-in-middleware/node_modules
12-nodejs/12-4-express/12-4-2-middleware/01-chaining-middleware/node_modules
12-nodejs/12-4-express/12-4-2-middleware/02-error-handling/node_modules
12-nodejs/12-4-express/12-4-3-environment/node_modules
12-nodejs/12-5-building-REST/node_modules
12-nodejs/12-6-authentication/node_modules
12-nodejs/12-7-mailing-and-file-handling/node_modules
12-nodejs/12-7-mailing-and-file-handling/public/storage
12-nodejs/12-7-mailing-and-file-handling/.env

## nodejs-express
12-nodejs/nodejs-express/node_modules
12-nodejs/nodejs-express/.env
12-nodejs/nodejs-express/database.json
12-nodejs/nodejs-express/package-lock.json
12-nodejs/nodejs-express/public/storage
