<div style="width: 100%; height: 100%; background-color: #F1F1F1; display: flex; color: black;">

    <div style="text-align: center; background-color: white; padding: 20px 20px 50px 20px; margin: 50px; margin-left: auto; margin-right: auto; width: 500px; border-radius: 10px;">

        <h2 style="font-family: 'Merriweather', sans-serif; color: black;">Welcome {{ name }} !</h2>

        <div style="color: black;">Thank you for Registration in Our NodeJS Express Project.</div>
        
        <div style="margin-top: 40px; margin-bottom: 40px;">
        <a style="padding: 10px 20px; background-color: black; color: white; text-decoration: none;" href="http://localhost:8080">GET STARTED</a>
        </div>

        <img style="width: 200px;" src="https://qph.cf2.quoracdn.net/main-qimg-0b80443be251e11df8d34cf0d57d851d" alt="">
        
    </div>

</div>